{% extends "layout.html" %}

{% block pageTitle %}
Research and design tracker - Invite
{% endblock %}

{% block content %}



<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">


    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-m">Create account</span>
            Invite
        </h1>
        <h4 class="nhsuk-heading-s">Page type: <span style="font-weight: normal;">email</span></h4>

        <!--
            Main Content Start
        -->

<br>
        <img src="/public/images/B000001-Dimensions.png" class="img-responsive" style="border: 1px solid #b1b4b6;"
            alt="A wireframe of the multi choice grid item, demonstrating the 4:3 aspect ratio, margins and paddings around the 4 different user interface elements.">
        <p class="nhsuk-body nhsuk-!-font-size-14">A wireframe of the multi choice grid item, demonstrating the 4:3
            aspect ratio, margins and paddings around the 4 different user interface elements.</p>
        <a href="#" target="_blank"><img src="/public/images/B000001-Multiple-Choice-One-Response.png" class="img-responsive"
            style="border: 1px solid #b1b4b6;" alt="A mockup of the multi choice grid item.">
        <p class="nhsuk-body nhsuk-!-font-size-14">Prototype screenshot</p></a>

<br>
        <!-- User Research Findings -->

        <h3 class="nhsuk-heading-m" id="workingForUsers">What's working for users?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>-</li>
        </ul>

        <h3 class="nhsuk-heading-m" id="notWorkingForUsers">What isn't working for users?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>-</li>
        </ul>

        <h3 class="nhsuk-heading-m" id="nextSteps">Next steps</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>-</li>
        </ul>

        <h3 class="nhsuk-heading-m" id="nextSteps">View detailed research insights</h3>
        <ul class="nhsuk-list">
            <li>
                <a class="nhsuk-link" href="#" target="_blank">Sprint 9 - Slide 4</a>
            </li>
        </ul>

    </div>
    
<!-- Status column on right -->

    <div class="nhsuk-grid-column-one-third">
        <!-- UR Status -->
        <div class="nhsuk-heading-s" style="margin-bottom: 6px;" style="margin-top: 20px;">UR status</div>
        <strong class="nhsuk-tag tag-green-tag">Sufficient</strong>
        <div class="nhsuk-!-padding-2"></div>
        <br>
        <!-- Sign-Off Status -->
        <div class="nhsuk-heading-s" style="margin-bottom: 6px;" style="margin-top: 20px;">Sign-off status</div>
        <strong class="nhsuk-tag tag-yellow-tag">Signed Off</strong>
        <div class="nhsuk-!-padding-2"></div>
        <br>
        <!-- Usability Rating -->
        <div class="nhsuk-heading-s" style="margin-bottom: 6px;" style="margin-top: 20px;">Overall usability rating</div>
        <strong class="nhsuk-tag tag-red-tag">No difficulty</strong>
    </div>

</div>

<script>
    var toToplink = document.getElementById("toTopLink");

    // When a user clicks the link, they will go back to the top of the current page they are on
    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

{% endblock %}