{% extends "layout.html" %}

{% block pageTitle %}
Research and design tracker - Success (email)
{% endblock %}

{% block content %}



    <div class="nhsuk-grid-row">


    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-m">Uplift</span>
            Success (email)
        </h1>

        <!--
            Main Content Start
        -->

        <img src="/images/Provisioning_Uplift-wireframe_email-success.jpg" class="img-responsive" width="100%"
            alt="A wireframe of the flow with current page highlighted in yellow.">
        <p class="nhsuk-body nhsuk-!-font-size-14">A wireframe of the flow with current page highlighted in yellow.</p>
        <img src="/images/Provisioning_Uplift_Success-email.png" class="img-responsive" width="50%"
            alt="A screenshot from the prototype.">
        <p class="nhsuk-body nhsuk-!-font-size-14">A screenshot from the prototype.</p>

<br>
        <!-- User Research Findings -->

        <h3 class="nhsuk-heading-m" id="workingForUsers">What's working for users?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>-</li>
        </ul>

        <h3 class="nhsuk-heading-m" id="notWorkingForUsers">What isn't working for users?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>-</li>
        </ul>

        <h3 class="nhsuk-heading-m" id="nextSteps">Next steps</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>-</li>
        </ul>

        <h3 class="nhsuk-heading-m" id="nextSteps">View detailed research insights</h3>
        <ul class="nhsuk-list">
            <li>
                <a class="nhsuk-link" href="#" target="_blank">Example link</a>
            </li>
        </ul>

    </div>
    
<!-- Status column on right -->

    <div class="nhsuk-grid-column-one-third">
    <br>
    <br>
        <!-- UR Confidence -->
        <div class="nhsuk-heading-s" style="margin-bottom: 6px;" style="margin-top: 20px;">UR confidence</div>
        <strong class="nhsuk-tag tag-red-tag">Low</strong>
        <div class="nhsuk-!-padding-2"></div>
        <br>
        <!-- UR Status -->
        <div class="nhsuk-heading-s" style="margin-bottom: 6px;" style="margin-top: 20px;">UR status</div>
        <strong class="nhsuk-tag tag-red-tag">Not started</strong>
        <div class="nhsuk-!-padding-2"></div>
        <br>
        <!-- Sign-Off Status -->
        <div class="nhsuk-heading-s" style="margin-bottom: 6px;" style="margin-top: 20px;">Sign-off status</div>
        <strong class="nhsuk-tag tag-yellow-tag">Awaiting sign-off</strong>
        <div class="nhsuk-!-padding-2"></div>
    </div>

</div>

<script>
    var toToplink = document.getElementById("toTopLink");

    // When a user clicks the link, they will go back to the top of the current page they are on
    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

{% endblock %}