{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
  Invite to set up your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p><h1 class="nhsuk-fieldset__legend--l">
        Dear {{ data.UserFirstName or 'Alice' }} {{ data.UserLastName or 'Smith' }},
      </h1>
      
      <p>You have been invited to set up your NHS login.</p>
      
      <p>Having an NHS login means that you can:
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>list item</li>
            <li>list item</li>
          </ul>
      </p>

      <markup>How do they do this?</markup>

      <markup>What will happen if they do not respond to this email?</markup>

      <p>This invite will expire in 7 days.</p>

      <markup>What should they do if they do not want to do this?</markup>
      
      <p><a href="../spinner" class="nhsuk-button">Set up your NHS login</a>
      
      <p><a href="#">Contact us</a> if you do not know this person or you think this may have been sent in error. <markup>Do we need this kind of question?</markup></p>
    </div>
  </div>

{% endblock %}