{% extends 'layout.html' %}


{% block pageTitle %}
You now have an NHS login
{% endblock %}


{% block content %}

  <div class="nhsuk-grid-row">
  
    <div class="nhsuk-grid-column-two-thirds">
    
        <h1>You now have an NHS login</h1>
      
<p>
You can use your NHS login to access a variety of digital health and care websites and apps.
</p>

<h2>Where you can use your NHS login</h2>

<div class="nhsuk-table-responsive">
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Where you can use your NHS login</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col">Website or app</th>
        <th class="nhsuk-table__header" scope="col">Description</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><a href="https://www.accurx.com/">AccuRx</a></td>
        <td class="nhsuk-table__cell ">AccuRx provides communication tools for healthcare professionals.</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Airmid UK</td>
        <td class="nhsuk-table__cell ">Airmid lets you take control of your own healthcare online.</td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Co-op Health</td>
        <td class="nhsuk-table__cell ">Co-op Health provides a repeat prescriptions service.</td>
      </tr>
    </tbody>
  </table>
</div>


</div>

{% endblock %}


 

