{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
  You now have an NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p><h1 class="nhsuk-fieldset__legend--l">
       You now have an NHS login
      </h1>
      
      <p>Dear {{ data.UserFirstName or 'Alice' }} {{ data.UserLastName or 'Smith' }},</p>
      
      <p>You have successfully set up your NHS login.</p>

<p>You can use your NHS login to access a variety of digital health and care websites and apps.</p>
      
      <p><a href="#">Where you can use your NHS login</a></p>
      
    </div>
  </div>

{% endblock %}