{# {% import '_macros/_macro_app.html' as backlink with context %} #}
{% extends 'layout.html' %}
{% block page_title %}Access {{ serviceName }} - Checking your details{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&formerror=" + formerror + "&hidehead=" + hidehead + "&reason=" + reason %}

{% block extrastyles %}

{# {% if reason === 'idpending' %}
<meta http-equiv="refresh" content="3;url=error-id-not-checked{{ params }}">
{% elif reason === 'nam' %}
<meta http-equiv="refresh" content="3;url=/service-access/v18/service-access-connect-gp{{ params }}">
{% elif reason === 'authcodepds' %}
<meta http-equiv="refresh" content="3;url=login-pds-error01{{ params }}">
{% elif reason === 'termsupdated' %}
<meta http-equiv="refresh" content="3;url=terms-updated{{ params }}">
{% elif reason === 'consent' %}
<meta http-equiv="refresh" content="3;url=consent{{ params }}">
{% elif reason === 'pyi' %}
<meta http-equiv="refresh" content="5;url=/service-access/v18/service-access-start{{ params }}&hideBack=true">
{% elif reason === 'dead' %}
<meta http-equiv="refresh" content="3;url=login-dead{{ params }}">
{% elif reason === 'namnotfoundPOL' %}
<meta http-equiv="refresh" content="3;url=login-nam-error-pol{{ params }}">
{% elif reason === 'polCreds' %}
<meta http-equiv="refresh" content="3;url=/service-access/v18/service-access-pol-creds-invalid{{ params }}">
{% elif reason === 'pyiCreds' %}
<meta http-equiv="refresh" content="3;url=/service-access/v18/service-access-pyi-creds-invalid{{ params }}">
{% elif reason === 'namnotfoundPYI' %}
<meta http-equiv="refresh" content="3;url=login-nam-error-pyi{{ params }}">
{% elif reason === 'noclientid' %}
<meta http-equiv="refresh" content="3;url=no-client-error{{ params }}">
{% elif reason === 'recoveryemail' %}
<meta http-equiv="refresh" content="3;url=recovery-email{{ params }}">
{% else %}
<meta http-equiv="refresh" content="3;url={{ backlink.link() }}">
{% endif %} #}

{% endblock %}


{% block content %}

<div class="first-item">

  <section class="loading-container" id="gp-connect-0" style="display:block; min-height: 16em;">

    <h1 id="spinner-heading" style="padding-bottom: 0; display:block;">Checking your details</h1>

    <div class="bar_container">
      <div id="main_container">
        <div id="pbar" class="progress-spinner" data-percent="0">
          <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" class=""/>
          <div class="ppc-loading">
            <div class="pcc-percents-wrapper">
              <span id="spinner-status">Loading</span><span aria-hidden="true">...</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="loading-container" id="gp-connect-1" style="display:none; min-height: 16em;">

    <h1 id="spinner-heading" style="padding-bottom: 0; display:block;">&nbsp;</h1>

    <div class="bar_container">
      <div id="main_container">
        <div id="pbar" class="progress-spinner" data-percent="0">
          <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" class=""/>
          <div class="ppc-loading">
            <div class="pcc-percents-wrapper">
              <span id="spinner-status">Loading</span><span aria-hidden="true">...</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <script type="text/javascript">
    //show then hide the spinner animation
    setTimeout(function(){
      document.getElementById('gp-connect-0').style.display = 'none'
    }, 3100)
    setTimeout(function(){
      document.getElementById('gp-connect-1').style.display = 'block'
    }, 3100)
  </script>

</div>

{% endblock %}
