<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Error: Some details do not match
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{#
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}
#}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Some details do not match</h1>  

      <p>You cannot respond to {{data.primaryUserFirstName or 'Alice'}} {{data.primaryUserLastName or 'Smith'}}’s invite. This is because some of the details they have told us do not match the details we hold about you. For example, {{data.primaryUserFirstName or 'Alice'}} may have spelt your name wrong.
      </p>

      <p>Go to your <a href="http://manage-nhs-login.herokuapp.com/account/v3b/index?mattisthebest=true&version=v3&primaryUserFirstName=Bob&primaryUserLastName=Roberts">NHS login account management area</a> to check your details and make sure {{data.primaryUserFirstName or 'Alice'}} has the same information. Delete the email with the original invite and ask {{data.primaryUserFirstName or 'Alice'}} to send you a new invite with the right details.
      </p>

      <p>Reference: <b>CID9101</b></p>

    </div>  
  </div>
    </div>
  </div>  
{% endblock %}
